<body>

  <div>
    <h2 class="title">{{ligaModel.nombre}}</h2>
  </div>

  <br>
  <div id="buttons_row">
    <button type="button" class="btn btn-danger">Graficas</button>
    <button type="button" class="btn btn-danger">PDF</button>
  </div>
  <br>

  <!-- <div style="text-align: center;" *ngFor="let jor of jornadaModel; let i = index;">
    <div class="row">
      <div class="col-4"></div>
      <div class="col">
        <div>{{jor.games[i].nombre1}}</div>
      </div>
      <div class="col-1">
        {{jor.games[i].goles1}} Vs {{jor.games[i].goles2}}
      </div>
      <div class="col">
        <div>{{jor.games[i].nombre2}}</div>
      </div>
      <div class="col-4"></div>
    </div>
    <br>

    <div class="row" *ngIf="i%2 == 0">
      <div class="col-4"></div>
      <div class="col">
        <div>{{jor.games[i+1].nombre1}}</div>
      </div>
      <div class="col-1">
        {{jor.games[i+1].goles1}} Vs {{jor.games[i+1].goles2}}
      </div>
      <div class="col">
        <div>{{jor.games[i+1].nombre2}}</div>
      </div>
      <div class="col-4"></div>
    </div>

     <div class="row" *ngIf="i%2 != 0">
      <div class="col-4"></div>
      <div class="col">
        <div>{{jor.games[i-1].nombre1}}</div>
      </div>
      <div class="col-1">
        {{jor.games[i-1].goles1}} Vs {{jor.games[i-1].goles2}}
      </div>
      <div class="col">
        <div>{{jor.games[i-1].nombre2}}</div>
      </div>
      <div class="col-4"></div>
    </div>
    <br>
  </div> -->


  <div class="row">
    <div class="col">
    </div>
    <div class="col-5">
      <table class="table table-striped">
        <thead>
          <tr style="text-align: center;">
            <th colspan="2">Equipo</th>
            <th scope="col">PJ</th>
            <th scope="col">PG</th>
            <th scope="col">PP</th>
            <th scope="col">PE</th>
            <th scope="col">GF</th>
            <th scope="col">GC</th>
            <th scope="col">DG</th>
            <th scope="col">PT</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let eqp of equipoModel; " style="vertical-align: middle; text-align: center;">
            <td><img src="{{eqp.imagen}}" style="height: 50px;"></td>
            <td style="text-align: left;">{{eqp.nombre}}</td>
            <td>{{eqp.PJ}}</td>
            <td>{{eqp.PG}}</td>
            <td>{{eqp.PP}}</td>
            <td>{{eqp.PE}}</td>
            <td>{{eqp.GF}}</td>
            <td>{{eqp.GC}}</td>
            <td>{{eqp.DG}}</td>
            <td>{{eqp.PT}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
    </div>
  </div>

</body>
