<body>
  <div>
    <h2 class="title">{{ligaModel.nombre}}</h2>
  </div>
  <br>
  <div id="buttons_row">
    <button type="button" class="btn btn-danger">Agregar Equipo</button>
    <button type="button" class="btn btn-danger" [routerLink]="['/table-view', ligaID]">Ver Tabla</button>
    <button type="button" class="btn btn-danger">Graficas</button>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col-5">
      Column
    </div>
    <div class="col">
    </div>
    <div class="col-5">
      Column
    </div>
    <div class="col">
    </div>
  </div>
</body>
