<body>
  <div>
    <h2 class="title">{{ligaModel.nombre}}</h2>
  </div>
  <br>
  <div id="buttons_row">
    <button type="button" class="btn btn-danger">Graficas</button>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col-5">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Jornada</th>
            <th scope="col">Logo Equipo 1</th>
            <th scope="col">Nombre Equipo 1</th>
            <th scope="col">Goles Equipo 1</th>
            <th scope="col">Logo Equipo 2</th>
            <th scope="col">Nombre Equipo 2</th>
            <th scope="col">Goles Equipo 2</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let jor of jornadaModel; let i = index; let eqp of equipoModel">
            <th scope="row">{{jor.numero}}</th>
            <td>{{jor.numero}}</td>
            <td>{{jor.numero}}</td>
            <td>{{jor.numero}}</td>
            <td>{{jor.numero}}</td>
            <td>{{jor.numero}}</td>
            <td>{{jor.numero}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
    </div>
  </div>
</body>
