<br>
<div class="container">
  <!-- <button routerLink="/home" id="button">Ver Ligas Propias</button> -->
  <div class="row">
    <div class="col right-col">
      <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
        title="Entrar a Torneos" routerLink="/ligas-admin"><a type="button"><i class="material-icons" style="font-size: 50px" data-toggle="tooltip">&#xf1be;</i></a><br>Torneos
      </button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
        title="Entrar a Usuarios" routerLink="/usuarios"><a type="button"><i class="material-icons" style="font-size: 50px" data-toggle="tooltip">&#xf02e;</i></a><br>Usuarios
      </button>
    </div>
  </div><br>
  <div class="row" >
    <div class="col right-col">
      <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
        title="Entrar Equipos"><a type="button"><i class="material-icons" style="font-size: 50px" data-toggle="tooltip">&#xf233;</i></a><br>Equipos</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
        title="Entrar a Estadísticas"><a type="button"><i class="material-icons" style="font-size: 50px" data-toggle="tooltip">&#xe6c4;</i></a><br>Gráficas</button>
    </div>
  </div>
