@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container{
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}

button{
  padding: 80px 150px 80px 150px;
  font-size: 30px;
  background-color: #E85D2C;
  border: none;
}

button:hover {
  background-color: #F52234;
}

.right-col {
  margin-right: -100px;
}

#button {
	border-radius: 20px;
	border: 1px solid #f26750;
	background-color: #f26750;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}