<!-- <div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-5 loginForm">
      <form>
        <h1 style="text-align: center">Iniciar sesión</h1><br>
        <div class="mb-3">
          <label for="inputEmail"  class="form-label">Usuario:</label>
          <input type="text" class="form-control" id="inputEmail" name='usuario' #usuario='ngModel' [(ngModel)]='usuarioModel.usuario'>
        </div>
        <div class="mb-3">
          <label for="inputPassword"  class="form-label">Contraseña:</label>
          <input type="password" class="form-control" id="inputPassword" name="password" #password="ngModel" [(ngModel)]="usuarioModel.password">
        </div>
        <button type="submit" class="btn btn-primary" (click)='login()'>Ingresar</button>
      </form><br>
    </div>
  </div>
</div> -->
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Crear cuenta</h1>
			<span>or use your email for registration</span>
			<input type="text" placeholder="Name" />
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<button>Registrarse</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Iniciar sesión</h1><br>
			<input type="email" name='usuario' #usuario='ngModel' [(ngModel)]='usuarioModel.usuario' placeholder="Usuario" />
			<input type="password" name="password" #password="ngModel" [(ngModel)]="usuarioModel.password" placeholder="Contraseña" />
			<a href="#">¿Olvidaste tu contraseña?</a>
			<button (click)='login()'>Ingresar</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
        <img src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/43165/soccer-ball-emoji-clipart-md.png" style="width: 100px;" alt="">
				<h1>¡Hola, amigo!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Registrarse</button>
			</div>
		</div>
	</div>
</div>

<footer>
	<p>
		Created with <i class="fa fa-heart"></i> by
		<a target="_blank" href="https://florin-pop.com">Florin Pop</a>
		- Read how I created this and how you can join the challenge
		<a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
	</p>
</footer>
